*{
    box-sizing: border-box;
}

body{
    min-width: 350px;
    min-height: 300px;
    font-family: 'Lato', sans-serif;
}

.surroundbox{
    min-width: 300px;
    min-height: 300px;
    position: relative;
    padding: 0 5px;
    padding-bottom: 0;
}

.messages{
    overflow-y: scroll;
    height:250px;
}

.mynewmessage{
    text-align: right;
    margin-right: 0.5rem;
}

.mynewmessage p{
    background-color: #00ffff;
    display: inline;
}

.susinewmessage{
    text-align: left;
    margin-right: 0.5rem;
}

.susinewmessage p{
    background-color: #00ffff;
    display: inline;
}

.send{
    position: absolute;
    bottom: 0;
}
.button{
    margin-left : 15px;
}