.hr-heading{
    display: none;
}

body{
    background-color: #e6f2ff;
}

.container{
	margin-top: 8%;
}

label {
    color : #FFFFFF;
}

.form-group {
    margin: 0 3.5rem;

}	

.card {
	padding: 40px 0px 20px;
	background: linear-gradient(to bottom left, #C3232C, #9B00A8); 	
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.5);
	-moz-box-shadow:3px 3px 3px rgba(0,0,0,0.5);
	border-radius: 15px;
}

.signin-image{
	padding: 0 2rem 2rem;
	margin: auto;
	display: block;
	width: 60%;
}

#loginbutton, #logout{
    color: #ffffff;
    border: none;
    background: linear-gradient(to right, #353278, #6DAACE);
    width : 20rem;
    display: block;
    margin : auto;
    border-radius: 8px;
    box-shadow:2px 2px 5px rgba(0,0,0,0.5);
}

#username{
    width: 100%;
}

#password{
    width: 100%;
}

#loggedin{
    margin-top: 15px;
}

.error{
    visibility:hidden;
    margin:auto;
    padding:7px;
    text-align: center;
  }

#cPass input {
    width: 60%;
}

.fmargin {
    margin-top: 4%;
}