.hr-heading{
    display: none;
}

body{
    background-color: #e6f2ff;
}

.container{
	margin-top: 8%;
}

.field-icon{
    float: right;
    font-size:24px;
    display: flex;
    align-items: center;
}

label {
    color : #FFFFFF;
}

.form-group {
    margin: 0 3.5rem;

}

.card {
	padding: 40px 0px 20px;
	background-color: #0084ff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.5);
	-moz-box-shadow:2px 2px 5px rgba(0,0,0,0.5);
}

.signin-image{
	padding: 0 2rem 2rem;
	margin: auto;
	display: block;
	width: 60%;
}

#loginbutton, #logout{
    color: #ffffff;
    width : 20rem;
    display: block;
    margin : auto;
}

.fa-eye, .fa-eye-slash{
    position: absolute;
    top: 6px;
    right: 5px;
    z-index: 15;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

#username{
    width: 100%;
}

#password{
    width: 100%;
    border-radius: 0.25rem;
}

#passwordlim{
    color: white;
}

#loggedin{
    margin-top: 15px;
}

.error{
    visibility:hidden;
    margin:auto;
    padding:7px;
    text-align: center;
}

#cPass input {
    width: 60%;
}

.fmargin {
    margin: 4% auto auto;
}
#settings
{
    margin:auto;
    width:50%;
}
button{
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
