body {
    background-color: #F2F2F2;
    color: rgba(0, 0, 0, 0.6);
}

.container{
    padding: 0px 2px;
    margin-top: 10px;
    width: 65%;
}

.card {
    padding: 10px 30px 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    margin-bottom: 5px;
    background-color: #ffff;
}

.heading {
    text-align: center;
    color: #ffff;
}

.sub-heading {
    font-size: 18px;
    color: #272727;
}

.logo{
    padding: 0 1rem 0.5rem;
    margin: auto;
    display: block;
    width: 20%;
}

.row {
    padding: 0.8rem;
}

.theme {
    width: 23px;
    height: 23px;
    border-radius: 3px;
    border: 1px solid #0000006e;
    cursor: pointer;
    margin-right: 5px;
}

.theme:active,.theme:focus {
    border: 3px solid #fff;
}

.save-btn{
    float: right;
}

.blue-container{
    background-color: #0084ff;
    padding: 10px 30px 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    margin-bottom: 5px;
}

.btn-success, .btn-success:hover, .btn-success:active{
    background-color: #0084ff;
    border: none;
    border-radius: 2px;
}

.color-box-picker{
    padding: 0px;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.87);
    cursor: inherit;
    font: inherit;
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.color-picker{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #E0E0E0;
    width: 100px;
}

.theme-picker-container{
    display: inline;
}
