body {
    background-color: #e8f2fe;
    color: #fff;
}

.container{
    margin-top: 5px;
    padding-right: 2px;
    padding-left: 2px;
    margin-top: 10px;
  }

 .card {
     background-color: #0084ff;
     padding: 30px 30px 30px;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
     margin-bottom: 5px;
     padding-bottom: 10px;
     padding-top: 10px;
  }

.heading {
    text-align: center;
}

.sub-heading {
    font-size: 20px;
}

.logo{
    padding: 0 1rem 0.5rem;
    margin: auto;
    display: block;
    width: 20%;
}

.row {
    padding: 1rem;
}

.row-label {
    padding-top: 5px;
}

.theme {
    border-radius: 100%;
}

.theme:active,.theme:focus
{
    border: 3px solid #fff;
}

#nav p a{
    color: white;
}

#nav p {
    margin-left: 4%;
}

