body {
    background-color: #e8f2fe;
    color: #fff;
}

.container{
    margin-top: 5px;
    padding-right: 2px;
    padding-left: 2px;
    margin-top: 10px;
  }

 .card {
     background-color: #0084ff;
     padding: 30px 30px 30px;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
     margin-bottom: 5px;
     padding-bottom: 10px;
     padding-top: 10px;
  }

.heading {
    text-align: center;
}

.sub-heading {
    font-size: 20px;
}

.logo{
    padding: 0 1rem 0.5rem;
    margin: auto;
    display: block;
    width: 20%;
}

.row {
    padding: 1rem;
}

.row-label {
    padding-top: 5px;
}

.theme {
    border-radius: 100%;
}

.theme:active,.theme:focus
{
    border: 3px solid #fff;
}
#alertback {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: black;
    z-index: 99;
    text-align: center;
    color:white;
}
#alerts {
    height:100px;
    position: fixed;
    top:20%;
    width: 90%;
    margin-left:5%;
    background-color: #fff;
    color: black;
    font-size: 1.2em;
    border-radius: 25px;
}
#alertback {
    display: none;
}
#getVoice {
    color: #0084ff;
}