body {
    background-color: #e8f2fe;
    color: #fff;
}

.card {
    background-color: #3385f7;
    margin-top: 10%;
}

.heading {
    text-align: center;
}

.theme {
    border-radius: 80%;
}
 .theme:active,.theme:focus 
 {
     border:3px solid #fff;
  }