*{
    box-sizing: border-box;
}

body{
    min-width: 350px;
    min-height: 300px;
    max-width:350px;
    font-family: 'Lato', sans-serif;
}

.headerbox{
    background-color: rgb(66, 133, 244);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    color: white;

}

.surroundbox{
    min-width: 300px;
    min-height: 300px;
    position: relative;
    padding: 0 5px;
    padding-bottom: 0;
}

.box{
    background-color: rgb(243, 242, 244);
}

.messages{
    overflow-y: auto;
    height:250px;
}

.mynewmessage{
    text-align: right;
    margin-right: 0.5rem;
    background-color: #e0e0e0;
    width: auto;
    max-width: 50%;
    float: right;
    clear: both;
    overflow-wrap: break-word;
    position: relative;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem 0.5rem;
    border-top-right-radius: 0;
}

.mynewmessage:before{
    content: '';
    position: absolute;
    border-color: transparent transparent transparent black;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    right: -5px;
    top: 0.5px;
    border-radius: 20%;
}

.mynewmessage:after{
    content: '';
    position: absolute;
    border-color: transparent transparent transparent #e0e0e0;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    right: -4.5px;
    top: 0.3px;
    border-radius: 20%;
    float: right;
    clear: both;
}

.mynewmessage p{
    display: inline;
    padding: 1rem;
}

.susinewmessage{
    text-align: left;
    margin-left: 0.3rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width:auto;
    max-width: 50%;
    float: left;
    clear: both;
    overflow-wrap: break-word;
    background-color: #fff;
    position: relative;
    border-radius: 0.5rem 0.5rem;
    border-top-left-radius: 0;
}

.susinewmessage:before{
    content: '';
    position: absolute;
    border-color: transparent black transparent transparent;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    left: -5px;
    top: 0.5px;
    border-radius: 20%;
}

.susinewmessage:after{
    content: '';
    position: absolute;
    border-color: transparent #fff transparent transparent;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    left: -4.5px;
    top: 0.3px;
    border-radius: 20%;
}

.susinewmessage p{
    display: inline;
    padding: 1rem;
}

.send{
    position: absolute;
    bottom: 0;
}

.button{
    margin-left : 15px;
    border: none;
    color:rgb(66,133,244);
}

.susi-img{
    border:solid 0.2em;
    height: 200px;
    width:150px;
}

.textarea:active,.textarea:focus,.textarea:hover{
    border-color: rgb(66, 133, 244);   
}
#susi-logo{
    padding-top: 6px;
    width: 100px;
    height: auto;
}

.icon{
	font-size:30px;
	margin-left:62px;
}

.textarea{
	max-width:125%;
	width:125%;
	margin-bottom:5px;
}
